<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixuan007.admin.mapper.DepartmentEntity">

    <resultMap id="departmentMap" type="com.zixuan007.admin.pojo.entity.DepartmentEntity"></resultMap>

    <update id="updateDepartment" parameterType="DepartmentEntity">
        update t_department set name = #{name} , role_id = #{roleId} , parent_id = #{parentId}, update_time = NOW() where id = #{id}
    </update>


</mapper>
