<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixuan007.admin.mapper.MenuMapper">


    <resultMap id="menuMap" type="com.zixuan007.admin.pojo.entity.MenuEntity"></resultMap>

    <!-- 更新菜单 -->
    <update id="updateMenu" parameterType="MenuEntity">
        update t_menu
        set name = #{name},
        url = #{url},
        icon = #{icon},
        sort = #{sort},
        type = #{type},
        status = #{status},
        update_time = NOW()
        where id = #{id}
    </update>


</mapper>
